<% include partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align:center" class="white">Log in to your account</h1>
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/login">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</buton>
                </div>
            </form>
            <a href="/register" class="white">New Member? Sign Up</a>
        </div>    
    </div>
</div>

