<% include partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align:center" class="white">Sign Up to the new World..</h1>
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/register">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">Register</buton>
                </div>
            </form>
            <a href="/login" class="white">Already have an account? Login</a>
        </div>    
    </div>
</div>


